<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <title>kanye quote generator</title>
  </head>
  <body>
    <h1 id="kanye-says">Kanye says</h1>
    <p id="quote">"<%=response%>"</p>

    <img id="img" src="https://c.neevacdn.net/image/fetch/s--x4xJWAaM--/https%3A//fashionista.com/.image/t_share/MTI4MDQxNzYyODY1MzIyNDYy/463009592jpg.jpg?savepath=463009592jpg.jpg" width="400">
  </body>
  <footer>
    <em id="credits">quotes courtesy of <a href="https://kanye.rest">kanye.rest</a> </em>
  </footer>
</html>
